<div class="bg-white text-black overflow-hidden fixed top-0 w-full flex justify-between px-4 py-2.5 items-center z-50 shadow-md">
  <a href="/">
    <img src="<%= blok.logo.filename %>" alt="" class="h-full w-full bg-cover"/>
  </a>
  <nav class="flex gap-10">
    <%= rubyblok_blocks_tag(blok.nav_links) %>
  </nav>
  <%= rubyblok_blocks_tag(blok.nav_cta) %>
</div>
