<%= editable_component(component) %>

<div class="flex flex-col gap-6 items-center py-4 px-1 w-full min-h-screen bg-white text-black md:px-1">
  <% component["page_container"].each do |blok| %>
    <%= render_component(blok) %>
  <% end %>
</div>
