  <div class="flex flex-col items-left mb-10 h-full w-full max-w-6xl">
    <div class="gap-4 flex w-full">
				<div class="flex h-10 min-w-[2.5rem] items-center justify-center rounded-lg bg-blue">
					<img src="<%= blok.icon.filename %>" alt="" cclass="rounded-lg h-full w-full">
				</div>
      <div class="flex flex-col gap-4">
        <span>
          <div class="text-left font-semibold text-xl text-gray-800">
            <%= rubyblok_content_tag(blok.title) %>
          </div>
          <div class="text-left text-gray-500">
            <%= rubyblok_content_tag(blok.text) %>
          </div>
        </span>
      </div>
    </div>
  </div>
