
	<section class="content_section <%= blok.layout %>">
		<div class="section_content <%= blok.layout %> <%= blok.align_items %>">
			<%= rubyblok_blocks_tag(blok.section_content) %>
		</div>
		</div>
	</section>
