
	<section
		class="hero_section">
		<div class="hero_content_wrapper">
			<div
				class="hero_header">
				<%= rubyblok_content_tag(blok.header) %>
			</div>

			<div
				class="hero_subtitle">
				<%= rubyblok_content_tag(blok.subheader) %>
			</div>

			<div class="hero_cta_wrapper">
			  <%= rubyblok_blocks_tag(blok.cta_buttons) %>
			</div>
		</div>
	</section>
