<%= editable_component(component) %>

  <div class="flex flex-col items-left h-full w-full max-w-6xl">
    <div class="gap-4 flex">
      <div class="flex flex-col gap-4">
        <span>
          <div class="title">
            <%= render_content(component["title"]) %>
          </div>
          <div class="description">
            <%= render_content(component["text"]) %>
          </div>
        </span>
      </div>
    </div>
  </div>