
  <!-- This file lives in public/404.html -->
  <div class="flex flex-col items-center gap-10 p-10">
    <div class="text-center flex flex-col gap-4">
      <h1 class="header">The page you were looking for doesn't exist.</h1>
      <p class="text">You may have mistyped the address or the page may have moved.</p>
    </div>
    <a href="/" class="button error">Go to homepage →</a>
  </div>
