
  <!-- This file lives in public/404.html -->
  <div class="flex flex-col items-center blured_bg gap-10 p-10">
    <div class="text-center flex flex-col gap-4">
      <h1 class="header">There was an error and we have been notified.</h1>
      <p class="text">We suggest that you try again later</p>
    </div>
  </div>
