/* :root {
  --foreground-rgb: 0, 0, 0, 0;
  --background-start-rgb: 0, 0, 0, 0;
  --background-end-rgb: 0, 0, 0, 0;
} */

html, body {
background-color: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

::-webkit-scrollbar {
  display: none;
}

.navbar {
  background-color: #ffffff;
  color: #000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding-left: 1.5rem/* 24px */;
  padding-right: 1.5rem/* 24px */;
  padding-top: 0.75rem/* 8px */;
  padding-bottom: 0.75rem/* 8px */;
  display: flex;
  align-items: center;
  z-index: 999;
  box-shadow: #0000001a 0px 0px 10px;
}

.nav_logo {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.nav_links_wrapper {
  display: none;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;

  @media (min-width: 640px) {
      display: flex;
  }
}

.nav_link {
  color: #000;
  text-decoration: none;
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  font-weight: 600;
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
  padding-top: 0.25rem/* 4px */;
  padding-bottom: 0.25rem/* 4px */;
  border-radius: 0.25rem/* 4px */;
  transition: all 0.2s ease-in-out 0s;
}

.nav_link:hover {
  background-color: #0000001a;
}

.mobile_nav_links {
 display: flex;
 flex-direction: column;
 gap: 2.5rem;
 margin: auto;

  @media (min-width: 640px) {
        display: none;
    }

}

.mobile_nav_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem/* 24px */;
  align-items: center;

  @media (min-width: 640px) {
      display: none;
  }
}

.mobile_nav {
  z-index: 998;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #ffffff;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.header {
  text-align: left;
  font-size: 1.15rem;
  line-height: 1.15;
  font-weight: 700;
  color: #1F2937;

  @media (min-width: 640px) {
      font-size: 1.5rem;
      line-height: 1.25;
  }
}

.hero_header {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: 0.25rem/* 4px */;
  color: #1F2937;

  @media (min-width: 640px) {
      font-size: 4rem/* 48px */;
      line-height: 5rem/* 80px */;
  }
}

.hero_subtitle  {
  text-align: center;
  font-size: 1rem/* 20px */;
  line-height: 1.5rem/* 28px */;
  font-weight: 400;
  color: #1F2937;

  @media (min-width: 640px) {
      max-width: 36rem/* 576px */;
      font-size: 1.25rem/* 24px */;
      line-height: 2rem/* 32px */;
  }

}

.hero_cta_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 700;
  color: #1F2937;

  @media (min-width: 640px) {
      font-size: 2.5rem/* 60px */;
      line-height: 1;
  }
}

.description {
  text-align: center;
  font-size: 1rem/* 20px */;
  line-height: 1.5rem/* 28px */;
  font-weight: 400;
  color: #1F2937;

  @media (min-width: 640px) {
      max-width: 36rem/* 576px */;
      font-size: 1rem/* 24px */;
      line-height: 1.25rem/* 32px */;
  }
}

.description.left {
  text-align: left;
}

.button {
  display: flex;
  align-items: center;
  background-color: none;
  color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.45rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.button.plain {
  background-color: none;
  color: #fff;
  outline: 2px solid none;
}

.button.plain:hover {
  background-color: none;
  border-width: 0;
  color: #fff;
  outline: 2px solid transparent;
}

.button:hover {
  background-color: white !important;
  color: #1C75BC !important;
  outline: 2px solid transparent;
}

.button.white {
  background-color: white;
  color: #1C75BC;
}

.button.white:hover {
  background-color: #1C75BC !important;
  color: white !important;
}

.button.blue-outlined {
  background-color: white;
  color: #1C75BC;
  outline-color: #1C75BC;
  outline: 2px solid #1C75BC;
}

.button.blue-outlined:hover {
  background-color: #1C75BC !important;
  color: white !important;
}

.button.blue {
  background-color: #1C75BC;
  color: white;
  /* outline: 2px solid #1C75BC; */
}

.button.blue:hover {
  background-color: white !important;
  color: #1C75BC !important;
  /* outline: 2px solid #1C75BC; */
}

.content_section {
  margin-bottom: 1rem;
  gap: 1rem;
  max-width: 72rem/* 1152px */;
  width: 100%;
  align-items: center;
}

.content_section_header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @media (min-width: 640px) {
    gap: 1.75rem;
    margin-bottom: 1.75rem;
  }
}

.section_content {
  width: 100%;
  max-width: 72rem/* 1152px */;
  align-items: center;
}

.section_content.block {
  display: block;
}

.section_content.flex-col {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.section_content.flex-row {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;


  @media (min-width: 640px) {
    flex-direction: row;
}
}

.section_content.grid-2 {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 640px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.section_content.grid-3 {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 640px) {
    display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.section_content.grid-4 {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 640px) {
    display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.section_content.center {
  align-items: center;
}

.section_content.top {
  align-items: flex-start;
}


.section_content_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.section_content_details_img.image-left {
  order: 0;
}

.section_content_details_img.image-right {
  order: 1;
}

.section_content_details_img {
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background-size: cover;
}

.section_content_details_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;
}

.page_container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  min-height: screen;
  background-color: #ffffff;
  color: #000000;

  @media (min-width: 640px) {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}


.hero_section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  min-height: screen;
  background-color: #ffffff;
  color: #000000;

  @media (min-width: 640px) {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

.hero_cta_wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.hero_content_wrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}